@media screen and (min-width: 767px)
{
    @import "PC/header";
    @import "PC/top";
    @import "PC/footer";
    @import "PC/register";

    @import "PC/user_show";
}

@media screen and (max-width: 767px) /*ウィンドウ幅が767px以下の場合に適用*/
{
    @import "SP/header";
    @import "SP/top";
    @import "SP/footer";
    @import "SP/register";

    @import "SP/user_show";
}
