@charset "UTF-8";

@media screen and (min-width: 767px) {
  /* header parts css PC */

  /* top-page css PC */

  /* header parts css PC */

  /* register parts css PC */

  /* user_show css PC */

  /* vacant create parts css PC */

  /* vacant index parts css PC */
}

@media screen and (min-width: 767px) and (min-width: 767px) {
  header {
    background-color: #FF1747;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 10%;
  }

  #global-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 10vw;
    z-index: 990;
    text-align: center;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    font-size: 34px;
    opacity: 0;
  }

  ul.gblnv_list {
    margin: 0;
    list-style: none;
    height: 100px;
  }

  li.menu_list {
    text-align: right;
    padding: 13px;
    color: #fff0ff;
    font-family: arial unicode ms;
  }

  li.menu_list .logged_in_user_name {
    display: block;
  }

  li.menu_list a {
    text-decoration: none;
    color: #fff0ff;
  }

  .open #global-nav {
    display: -webkit-box;
    display: flex;
    -webkit-transition: opacity 0.6s ease, visibility 0.6s ease;
    transition: opacity 0.6s ease, visibility 0.6s ease;
    opacity: 1;
  }

  #nav-toggle {
    top: 30%;
    right: 2%;
    float: right;
    margin-left: auto;
    position: relative;
    height: 24px;
    width: 24px;
    display: inline-block;
    box-sizing: border-box;
  }

  #nav-toggle div {
    border-radius: 60px;
    position: absolute;
    left: 0;
    height: 3px;
    width: 28px;
    background-color: #ffffff;
    display: inline-block;
    box-sizing: border-box;
  }

  #nav-toggle div:nth-of-type(1) {
    top: 0;
  }

  #nav-toggle div:nth-of-type(2) {
    top: 10px;
  }

  #nav-toggle div:nth-of-type(3) {
    bottom: 0;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
    width: 100%;
  }

  body.open {
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    background-color: #FF1747;
  }

  body.open .container {
    visibility: hidden;
    opacity: 0;
  }

  body .container {
    width: 100%;
    position: relative;
  }

  body .container .top_content .top_title {
    position: absolute;
    top: 100px;
    right: 10%;
    left: 10%;
    text-align: center;
    /*ハートが入ることにより中心がずれるので調整*/
    margin-right: 99.7px;
  }

  body .container .top_content .top_title h1 {
    font-size: 100px;
    font-family: "Anton", Impact, "Times New Roman";
    display: inline-block;
  }

  body .container .top_content .top_title .heart {
    position: relative;
    display: inline-block;
    top: -86px;
  }

  body .container .top_content .top_title .heart:before,
  body .container .top_content .top_title .heart:after {
    position: absolute;
    content: "";
    left: 54px;
    width: 55px;
    height: 86px;
    background: #ff0000;
    border-radius: 89px 89px 0 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }

  body .container .top_content .top_title .heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }

  body .container .top_content .status_message {
    position: absolute;
    top: 70px;
  }
}

@media screen and (min-width: 767px) {
  footer .footer_wrapper {
    width: 100%;
    height: 8%;
    background-color: #602D1D;
    position: fixed;
    bottom: 0;
  }

  footer.hide {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .register-wrapper {
    position: absolute;
    top: 100px;
    left: 20%;
  }
}

@media screen and (min-width: 767px) {
  .user_show_wrapper {
    display: inline-block;
    position: absolute;
    top: 100px;
  }

  .user_show_wrapper .user_info {
    font-family: Hiragino Maru Gothic ProN;
    text-align: center;
    padding: 0;
    font-size: 1.5em;
  }

  .user_show_wrapper .user_info a {
    text-decoration: none;
  }
}

@media screen and (min-width: 767px) {
  .form-group {
    position: relative;
    top: 80px;
  }

  .form-group .btn-primary {
    background-color: #FF1747;
    border-color: #FF1747;
  }

  .form-group .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 15, 32, 0.5);
  }

  .form-group .btn-primary:hover {
    background-color: #E5143F;
    border-color: #E5143F;
  }
}

@media screen and (min-width: 767px) {
  .datepicker-days th.dow:first-child,
  .datepicker-days td:first-child {
    color: #f00;
  }
}

@media screen and (min-width: 767px) {
  .datepicker-days th.dow:last-child,
  .datepicker-days td:last-child {
    color: #00f;
  }
}

@media screen and (min-width: 767px) {
  .calendar {
    position: absolute;
    top: 100px;
    width: 70%;
    left: 15%;
  }
}

@media screen and (min-width: 767px) {
  .next_link {
    display: inline-block;
    float: right;
  }
}

@media screen and (min-width: 767px) {
  .prev_link {
    display: inline-block;
  }
}

@media screen and (max-width: 767px) {
  /* header css  SP用 */

  header {
    background-color: #FF1747;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 8%;
  }

  #global-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 20vw;
    z-index: 990;
    text-align: center;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    font-size: 29px;
    opacity: 0;
  }

  ul.gblnv_list {
    margin: 0;
    list-style: none;
    height: 100px;
  }

  li.menu_list {
    text-align: right;
    padding: 10px;
    color: #fff0ff;
    font-family: arial unicode ms;
  }

  li.menu_list a {
    color: #fff0ff;
    text-decoration: none;
  }

  li.menu_list .logged_in_user_name {
    display: block;
  }

  .open #global-nav {
    display: -webkit-box;
    display: flex;
    -webkit-transition: opacity 0.6s ease, visibility 0.6s ease;
    transition: opacity 0.6s ease, visibility 0.6s ease;
    opacity: 1;
  }

  #nav-toggle {
    top: 25%;
    right: 4.9%;
    float: right;
    margin-left: auto;
    position: relative;
    height: 24px;
    width: 24px;
    display: inline-block;
    box-sizing: border-box;
  }

  #nav-toggle div {
    border-radius: 60px;
    position: absolute;
    left: 0;
    height: 3px;
    width: 28px;
    background-color: #ffffff;
    display: inline-block;
    box-sizing: border-box;
  }

  #nav-toggle div:nth-of-type(1) {
    top: 0;
  }

  #nav-toggle div:nth-of-type(2) {
    top: 10px;
  }

  #nav-toggle div:nth-of-type(3) {
    bottom: 0;
  }

  /* top-page css SP */

  body {
    margin: 0;
    width: 100%;
  }

  body.open {
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    background-color: #FF1747;
  }

  body.open .container {
    visibility: hidden;
    opacity: 0;
  }

  body .container {
    width: 100%;
    position: relative;
  }

  body .container .top_content {
    width: 320px;
    margin: 0 auto;
  }

  body .container .top_content .top_title {
    position: absolute;
    top: 100px;
  }

  body .container .top_content .top_title h1 {
    font-size: 55px;
    font-family: "Anton", Impact, "Times New Roman";
    display: inline-block;
  }

  body .container .top_content .top_title .heart {
    position: relative;
    display: inline-block;
    top: -47px;
  }

  body .container .top_content .top_title .heart:before,
  body .container .top_content .top_title .heart:after {
    position: absolute;
    content: "";
    left: 30px;
    width: 30px;
    height: 49px;
    background: #ff0000;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }

  body .container .top_content .top_title .heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }

  body .container .top_content .status_message {
    position: absolute;
    top: 70px;
  }

  /* header parts css SP */

  footer .footer_wrapper {
    width: 100%;
    height: 8%;
    background-color: #602D1D;
    position: fixed;
    bottom: 0;
  }

  footer.hide {
    display: none;
  }

  /* register parts css SP */

  .register-wrapper {
    position: absolute;
    top: 100px;
    left: 20%;
  }

  /* user_show scss PC */

  .user_show_wrapper {
    display: inline-block;
    position: absolute;
    top: 100px;
  }

  .user_show_wrapper .user_info {
    font-family: Hiragino Maru Gothic ProN;
    text-align: center;
    padding: 0;
    font-size: 1.5em;
  }

  .user_show_wrapper .user_info a {
    text-decoration: none;
  }

  /* vacant create parts css SP */

  .form-group {
    position: relative;
    top: 80px;
  }

  .form-group .btn-primary {
    background-color: #FF1747;
    border-color: #FF1747;
  }

  .form-group .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 15, 32, 0.5);
  }

  .form-group .btn-primary:hover {
    background-color: #E5143F;
    border-color: #E5143F;
  }

  .datepicker-days th.dow:first-child,
  .datepicker-days td:first-child {
    color: #f00;
  }

  .datepicker-days th.dow:last-child,
  .datepicker-days td:last-child {
    color: #00f;
  }

  /* vacant index parts css SP */

  .calendar {
    position: absolute;
    top: 100px;
    width: 90%;
  }

  .next_link {
    display: inline-block;
    float: right;
  }

  .prev_link {
    display: inline-block;
  }
}

