@charset "UTF-8";

@media screen and (min-width: 767px) {
  /* header parts css PC */

  /* top-page css PC */

  /* header parts css PC */

  /* register parts css PC */
}

@media screen and (min-width: 767px) and (min-width: 767px) {
  header {
    background-color: #FF1747;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 10%;
  }

  #global-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 10vw;
    z-index: 990;
    text-align: center;
    display: -webkit-box;
    display: flex;
    visibility: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    font-size: 34px;
    opacity: 0;
  }

  ul.gblnv_list {
    margin: 0;
    list-style: none;
    height: 100px;
  }

  li.menu_list {
    text-align: right;
    padding: 13px;
    color: #fff0ff;
    font-family: arial unicode ms;
  }

  li.menu_list a {
    text-decoration: none;
    color: #fff0ff;
  }

  .open #global-nav {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.6s ease, visibility 0.6s ease;
    transition: opacity 0.6s ease, visibility 0.6s ease;
  }

  #nav-toggle {
    top: 30%;
    right: 2%;
    float: right;
    margin-left: auto;
    position: relative;
    height: 24px;
    width: 24px;
    display: inline-block;
    box-sizing: border-box;
  }

  #nav-toggle div {
    border-radius: 60px;
    position: absolute;
    left: 0;
    height: 3px;
    width: 28px;
    background-color: #ffffff;
    display: inline-block;
    box-sizing: border-box;
  }

  #nav-toggle div:nth-of-type(1) {
    top: 0;
  }

  #nav-toggle div:nth-of-type(2) {
    top: 10px;
  }

  #nav-toggle div:nth-of-type(3) {
    bottom: 0;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
    width: 100%;
  }

  body.open {
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    background-color: #FF1747;
  }

  body.open .container {
    visibility: hidden;
    opacity: 0;
  }

  body .container {
    width: 100%;
  }

  body .container .top_content .top_text {
    padding-top: 10vw;
    text-align: center;
    /*ハートが入ることにより中心がずれるので調整*/
    margin-right: 99.7px;
  }

  body .container .top_content .top_text h1 {
    font-size: 100px;
    font-family: "Anton", Impact, "Times New Roman";
    display: inline-block;
  }

  body .container .top_content .top_text .heart {
    position: relative;
    display: inline-block;
    top: -86px;
  }

  body .container .top_content .top_text .heart:before,
  body .container .top_content .top_text .heart:after {
    position: absolute;
    content: "";
    left: 54px;
    width: 55px;
    height: 86px;
    background: #ff0000;
    border-radius: 89px 89px 0 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }

  body .container .top_content .top_text .heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}

@media screen and (min-width: 767px) {
  footer .footer_wrapper {
    width: 100%;
    height: 300px;
    background-color: #602D1D;
  }

  footer.hide {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .register-wrapper {
    padding: 100px;
  }
}

@media screen and (max-width: 767px) {
  /* header css  SP用 */

  header {
    background-color: #FF1747;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 8%;
  }

  #global-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 20vw;
    z-index: 990;
    text-align: center;
    display: -webkit-box;
    display: flex;
    visibility: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    font-size: 29px;
    opacity: 0;
  }

  ul.gblnv_list {
    margin: 0;
    list-style: none;
    height: 100px;
  }

  li.menu_list {
    text-align: right;
    padding: 10px;
    color: #fff0ff;
    font-family: arial unicode ms;
  }

  li.menu_list a {
    color: #fff0ff;
    text-decoration: none;
  }

  .open #global-nav {
    -webkit-transition: opacity 0.6s ease, visibility 0.6s ease;
    transition: opacity 0.6s ease, visibility 0.6s ease;
    visibility: visible;
    opacity: 1;
  }

  #nav-toggle {
    top: 25%;
    right: 4.9%;
    float: right;
    margin-left: auto;
    position: relative;
    height: 24px;
    width: 24px;
    display: inline-block;
    box-sizing: border-box;
  }

  #nav-toggle div {
    border-radius: 60px;
    position: absolute;
    left: 0;
    height: 3px;
    width: 28px;
    background-color: #ffffff;
    display: inline-block;
    box-sizing: border-box;
  }

  #nav-toggle div:nth-of-type(1) {
    top: 0;
  }

  #nav-toggle div:nth-of-type(2) {
    top: 10px;
  }

  #nav-toggle div:nth-of-type(3) {
    bottom: 0;
  }

  /* top-page css SP */

  body {
    margin: 0;
    width: 100%;
  }

  body.open {
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    background-color: #FF1747;
  }

  body.open .container {
    visibility: hidden;
    opacity: 0;
  }

  body .container {
    width: 100%;
    position: relative;
  }

  body .container .top_content {
    width: 320px;
    margin: 0 auto;
  }

  body .container .top_content .top_text {
    padding-top: 13vw;
  }

  body .container .top_content .top_text h1 {
    font-size: 55px;
    font-family: "Anton", Impact, "Times New Roman";
    display: inline-block;
  }

  body .container .top_content .top_text .heart {
    position: relative;
    display: inline-block;
    top: -47px;
  }

  body .container .top_content .top_text .heart:before,
  body .container .top_content .top_text .heart:after {
    position: absolute;
    content: "";
    left: 30px;
    width: 30px;
    height: 49px;
    background: #ff0000;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }

  body .container .top_content .top_text .heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }

  /* header parts css SP */

  footer .footer_wrapper {
    width: 100%;
    height: 200px;
    background-color: #602D1D;
  }

  footer.hide {
    display: none;
  }

  /* register parts css SP */

  .register-wrapper {
    padding: 100px;
  }
}

