/* header parts css PC */
footer {
    .footer_wrapper {
        width: 100%;
        height: 100px;
        background-color: #602D1D;
        position: absolute;
        bottom: 0;
    }

    &.hide {
        display: none;
    }
}
