/* header parts css PC */
footer {
    .footer_wrapper {
        width: 100%;
        height: 8%;
        background-color: #602D1D;
        position: fixed;
        bottom: 0;
    }

    &.hide {
        display: none;
    }
}
