/* header parts css PC */

@media screen and (min-width: 767px) /*ウィンドウ幅が767px以上の場合に適用*/
{
    header {
        background-color: #FF1747;
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 10%;
    }

    #global-nav {
        position: fixed;
        left: 0;
        right: 0;
        top: 10vw;
        z-index: 990;
        text-align: center;
        display: flex;
        visibility: hidden;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 34px;
        opacity: 0;
        transition: opacity .6s ease, visibility .6s ease;
    }

    ul.gblnv_list {
        margin: 0;
        list-style: none;
        height: 100px;
    }

    li.menu_list {
        text-align: right;
        padding: 13px;
        color: #fff0ff;
        font-family: arial unicode ms;
    }

    .open #global-nav {
        visibility: visible;
        opacity: 1;
    }

    #nav-toggle {
        top: 30%;
        right: 2%;
        float: right;
        margin-left: auto;
        position: relative;
        height: 24px;
        width: 24px;
        display: inline-block;
        box-sizing: border-box;
    }

    #nav-toggle div {
        border-radius: 60px;
        position: absolute;
        left: 0;
        height: 3px;
        width: 28px;
        background-color: #ffffff;
        display: inline-block;
        box-sizing: border-box;
    }

    #nav-toggle {
        div {
            &:nth-of-type(1) {
                top: 0;
            }

            &:nth-of-type(2) {
                top: 10px;
            }

            &:nth-of-type(3) {
                bottom: 0;
            }
        }
    }
}


