/* top-page css SP */

@media screen and (min-width: 767px) /*ウィンドウ幅が767px以上の場合に適用*/
{

    body {
        margin: 0;
        &.open{
            .container{
                visibility: hidden;
                opacity: 0;
            }
        }
    }

    .open {
        transition-duration: 1s;
        background-color: #FF1747;
    }

    .container {
        text-align: center;
        padding-top: 13vw;
    }

    .top_text h1 {
        font-size: 4.5em;
        font-family: Impact;
    }

    .top_content {
        padding: 1px;
    }
}
