/* top-page css PC */

body {
    margin: 0;
    width: 100%;

    &.open {
        transition-duration: 1s;
        background-color: #FF1747;

        .container {
            visibility: hidden;
            opacity: 0;
        }
    }

    .container {
        width: 100%;
        position: relative;
        margin-top: 60px;

        min-height: 100vh;
        padding-bottom: 30px;
        box-sizing: border-box;

        .top_content {
            .top_title {
                position: absolute;
                top: 100px;
                right: 10%;
                left: 10%;

                text-align: center;
                /*ハートが入ることにより中心がずれるので調整*/
                margin-right: 99.7px;

                h1 {
                    font-size: 100px;
                    font-family: 'Anton', Impact, "Times New Roman";
                    display: inline-block;
                }

                .heart {
                    position: relative;
                    display: inline-block;
                    top: -86px;

                    &:before, &:after {
                        position: absolute;
                        content: "";
                        left: 54px;
                        width: 55px;
                        height: 86px;
                        background: #ff0000;
                        border-radius: 89px 89px 0 0;
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        -webkit-transform-origin: 0 100%;
                        transform-origin: 0 100%;
                    }

                    &:after {
                        left: 0;
                        transform: rotate(45deg);
                        transform-origin: 100% 100%;
                    }
                }
            }

            .status_message {
                position: absolute;
                top: 70px;
            }
        }
    }
}
