/* top-page css PC */

    body {
        margin: 0;
        width: 100%;

        &.open {
            transition-duration: 1s;
            background-color: #FF1747;

            .container {
                visibility: hidden;
                opacity: 0;
            }
        }

        .container {
            text-align: center;
            padding-top: 13vw;

            .top_content {
                padding: 1px;

                .top_text h1 {
                    font-size: 4.5em;
                    font-family: Impact;

                    .heart {
                        position: absolute;
                        width: 100px;
                        height: 90px;
                        left: 57%;
                        margin-top: -55px;
                        margin-left:80px;

                        &:before, &:after {
                            position: absolute;
                            content: "";
                            left: 50px;
                            top: -43px;
                            width: 50px;
                            height: 80px;
                            background: #ff0000;
                            border-radius: 50px 50px 0 0;
                            transform: rotate(-45deg);
                            transform-origin: 0 100%;
                        }

                        &:after {
                            left: 0;
                            transform: rotate(45deg);
                            transform-origin: 100% 100%;
                        }
                    }
                }
            }
        }
    }
