/* user_show css PC */

.user_show_wrapper {
    display: inline-block;
    position: absolute;
    top: 100px;
    width: 100%;

    .user_info {
        font-family: Hiragino Maru Gothic ProN;
        text-align: center;
        padding: 0;
        font-size: 1.5em;

        a {
            text-decoration: none;
        }
    }
}
