/* vacant index parts css PC */

.calendar {
    position: absolute;
    top: 100px;
    width: 70%;
    left: 15%;
}

.next_link {
    display: inline-block;
    float: right;
}

.prev_link {
    display: inline-block;
}
