/* header css  SPç”¨ */

header {
    background-color: #FF1747;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 8%;
}

#global-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 20vw;
    z-index: 990;
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 29px;
    opacity: 0;
}

ul.gblnv_list {
    margin: 0;
    list-style: none;
    height: 100px;
}

li.menu_list {
    text-align: right;
    padding: 10px;
    color: #fff0ff;
    font-family: arial unicode ms;

    a {
        color: #fff0ff;
        text-decoration: none;
    }

    .logged_in_user_name {
        display: block;
    }
}

.open #global-nav {
    display: flex;
    transition: opacity .6s ease, visibility .6s ease;
    opacity: 1;
}

#nav-toggle {
    top: 25%;
    right: 4.9%;
    float: right;
    margin-left: auto;
    position: relative;
    height: 24px;
    width: 24px;
    display: inline-block;
    box-sizing: border-box;
}

#nav-toggle div {
    border-radius: 60px;
    position: absolute;
    left: 0;
    height: 3px;
    width: 28px;
    background-color: #ffffff;
    display: inline-block;
    box-sizing: border-box;
}

#nav-toggle {
    div {
        &:nth-of-type(1) {
            top: 0;
        }

        &:nth-of-type(2) {
            top: 10px;
        }

        &:nth-of-type(3) {
            bottom: 0;
        }
    }
}
