/* top-page css SP */

body {
    margin: 0;
    width: 100%;
    &.open {
        transition-duration: 1s;
        background-color: #FF1747;
        .container {
            visibility: hidden;
            opacity: 0;
        }
    }
    .container {
        margin-left: 8vw;
        padding-top: 20vw;
        .top_content {
            padding: 1px;
            .top_text h1 {
                font-size: 3em;
                font-family: Impact;
                position: relative;
                .heart {
                    position: absolute;
                    top: 0;
                    right: 32%;

                    &:before, &:after {
                        position: absolute;
                        content: "";
                        left: 30px;
                        width: 30px;
                        height: 49px;
                        background: #ff0000;
                        border-radius: 50px 50px 0 0;
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        -webkit-transform-origin: 0 100%;
                        transform-origin: 0 100%;
                    }

                    &:after {
                        left: 0;
                        transform: rotate(45deg);
                        transform-origin: 100% 100%;
                    }
                }
            }
        }
    }
}




