/* top-page css SP */

body {
    margin: 0;
    &.open{
        .container{
            visibility: hidden;
            opacity: 0;
        }
    }
}

.open {
    transition-duration: 1s;
    background-color: #FF1747;
}

.container {
    text-align: center;
    padding-top: 20vw;
}

.top_text h1 {
    font-size: 3em;
    font-family: Impact;
}

.top_content {
    padding: 1px;
}
