/* top-page css SP */

body {
    margin: 0;
    width: 100%;

    &.open {
        transition-duration: 1s;
        background-color: #FF1747;

        .container {
            visibility: hidden;
            opacity: 0;
        }
    }

    .container {
        width: 100%;
        position: relative;

        .top_content {
            width: 320px;
            margin: 0 auto;

            .top_text {
                padding-top: 13vw;
                h1 {
                    font-size: 55px;
                    font-family: 'Anton', Impact,"Times New Roman";
                    display: inline-block;
                }

                .heart {
                    position: relative;
                    display: inline-block;
                    top:-47px;

                    &:before, &:after {
                        position: absolute;
                        content: "";
                        left: 30px;
                        width: 30px;
                        height: 49px;
                        background: #ff0000;
                        border-radius: 50px 50px 0 0;
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                        -webkit-transform-origin: 0 100%;
                        transform-origin: 0 100%;
                    }

                    &:after {
                        left: 0;
                        transform: rotate(45deg);
                        transform-origin: 100% 100%;
                    }
                }
            }
        }
    }
}




