/* user_show scss PC */

.user_show_wrapper {
    .user_info {
        font-family: Hiragino Maru Gothic ProN;
        text-align: center;
        padding: 0;
        font-size: 1.5em;

        .vacant-link {
            margin: 15px;
        }

        a {
            text-decoration: none;
        }
    }
}

