/* vacant shows parts css SP */

.form-group {
    h2 {
        display: inline-block;
    }

    .delete-icon {
        display: inline-block;
        width:  30px;
        height: 30px;
        position: relative;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .delete-icon span::before,
    .delete-icon span::after {
        display: block;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 84%;
        height: 16%;
        margin: -8% 0 0 -42%;
        background: gray;
    }

    .delete-icon span::before {
        transform: rotate(-45deg);
    }

    .delete-icon span::after {
        transform: rotate(45deg);
    }
}
