/* vacant create parts css SP */

.form-group {
    position: relative;
    top: 80px;

    .submit {
        margin-top: 20px;
    }
}

.datepicker-days th.dow:first-child,
.datepicker-days td:first-child {
    color: #f00;
}
.datepicker-days th.dow:last-child,
.datepicker-days td:last-child {
    color: #00f;
}
