/* vacant create parts css SP */

.form-group {
    position: relative;
    top: 80px;

    .btn-primary {
        background-color: #FF1747;
        border-color: #FF1747;

        &:focus {
            box-shadow: 0 0 0 0.2rem rgba(255, 15, 32, 0.5);
        }

        &:hover {
            background-color: #E5143F;
            border-color: #E5143F;
        }

    }
}

.datepicker-days th.dow:first-child,
.datepicker-days td:first-child {
    color: #f00;
}

.datepicker-days th.dow:last-child,
.datepicker-days td:last-child {
    color: #00f;
}
