/* vacant index parts css SP */

.calendar {
    position: absolute;
    top: 100px;
    width: 90%;
}

.next_link {
    display: inline-block;
    float: right;
}

.prev_link {
    display: inline-block;
}
