/* vacant create parts css SP */

.register-form-group {
    position: relative;
    top: 80px;
    height: 300px;

    .input-group {
        top: 150px;
        display: table;
        position: unset;

        h5 {
            display: table-caption;
        }
    }

    .vacant_date_status {
        margin-top: 20px;
    }

    .submit {
        margin-top: 20px;
    }
}
