/* vacant index parts css SP */

.calendar {
    margin: 0 auto;

    table {
        table-layout: fixed;
    }
}

.next_link {
    display: inline-block;
    clear: both;
}

.prev_link {
    display: inline-block;
}
