/* header parts css PC */

@media screen and (min-width: 767px) {
  header {
    background-color: #FF1747;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 10%;
    border-bottom: solid 1px #edeff3;
  }

  #global-nav {
    background-color: #ffffff;
    position: fixed;
    left: 0;
    right: 0;
    top: 10vw;
    z-index: 990;
    text-align: center;
    display: -webkit-box;
    display: flex;
    visibility: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    font-size: 34px;
    opacity: 0.8;
    -webkit-transition: opacity 0.6s ease, visibility 0.6s ease;
    transition: opacity 0.6s ease, visibility 0.6s ease;
  }

  ul.gblnv_list {
    margin: 0;
    list-style: none;
    height: 100px;
  }

  li.menu_list {
    text-align: right;
    padding: 13px;
    color: #383d41;
    font-family: arial unicode ms;
  }

  .open #global-nav {
    visibility: visible;
    opacity: 1;
  }

  #nav-toggle {
    top: 30%;
    right: 2%;
    float: right;
    margin-left: auto;
    position: relative;
    height: 24px;
    width: 24px;
    display: inline-block;
    box-sizing: border-box;
  }

  #nav-toggle div {
    border-radius: 60px;
    position: absolute;
    left: 0;
    height: 3px;
    width: 28px;
    background-color: #ffffff;
    display: inline-block;
    box-sizing: border-box;
  }

  #nav-toggle div:nth-of-type(1) {
    top: 0;
  }

  #nav-toggle div:nth-of-type(2) {
    top: 10px;
  }

  #nav-toggle div:nth-of-type(3) {
    bottom: 0;
  }
}

