/* top-page css SP */

body {
  margin: 0;
  width: 100%;
}

body.open {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  background-color: #FF1747;
}

body.open .container {
  visibility: hidden;
  opacity: 0;
}

body .container {
  margin-left: 8vw;
  padding-top: 20vw;
}

body .container .top_content {
  padding: 1px;
}

body .container .top_content .top_text h1 {
  font-size: 3em;
  font-family: Impact;
  position: relative;
}

body .container .top_content .top_text h1 .heart {
  position: absolute;
  top: 0;
  right: 32%;
}

body .container .top_content .top_text h1 .heart:before,
body .container .top_content .top_text h1 .heart:after {
  position: absolute;
  content: "";
  left: 30px;
  width: 30px;
  height: 49px;
  background: #ff0000;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

body .container .top_content .top_text h1 .heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}

