/* top-page css SP */

body {
  margin: 0;
}

.container {
  text-align: center;
  padding-top: 20vw;
}

.h1 {
  display: inline;
}

.top_content {
  padding: 1px;
}

.top_text {
  font-size: 24px;
  font-family: Impact;
}

